<script>
var fillP = d3.scale.ordinal().range(['#57a1ff', '#6399f3', '#8e7cff', '#a96aff']);
var fillN = d3.scale.ordinal().range(['#ff4566', '#e04d73', '#db55a6', '#c95cc7']);
var w = 760;
var h = 400;

var offset = Date.today().getUTCOffset();
var hour1 = Date.parse(end).addHours(-2).setTimezoneOffset(offset).toString('yyyy-MM-dd HH:mm:ss');
var hour2 = Date.parse(end).addHours(-1).setTimezoneOffset(offset).toString('yyyy-MM-dd HH:mm:ss');

$.get("../data/informative", {start: hour1, end: hour2}, function(data) {
  max = 0;
  min = null;
  
  words = data.map(function(d){return {"text":d.term, "size":(35-data.indexOf(d))+15, "sentiment":d.classification} })
  
  if(Math.floor((Math.random()*10)+1)%2==0){
      d3.layout.cloud().size([w, h])
      .words(words)
      .padding(6)
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw_informative)
      .start();
  }
  else{
      d3.layout.cloud().size([w, h])
      .words(words)
      .padding(5)
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw_informative)
      .start();   
  }
}, "json");

function draw_informative(words, bounds) {
scale = bounds ? Math.min(
  w / Math.abs(bounds[1].x - w / 2),
  w / Math.abs(bounds[0].x - w / 2),
  h / Math.abs(bounds[1].y - h / 2),
  h / Math.abs(bounds[0].y - h / 2)) / 2 : 1;

d3.select("#informative").append("svg")
    .attr("width", w)
    .attr("height", h)
    .attr("id", "word-cloud")
  .append("g")
    .attr("transform", "translate(" + [w >> 1, h >> 1] + ")scale(" + scale + ")")
  .selectAll("text")
    .data(words)
  .enter().append("text")
    .style("font-size", function(d) { return d.size + "px"; })
    .style("font-family", "Impact")
    .style("fill", function(d, i) { 
        if(d.sentiment=='P') return fillP(Math.floor(i/10)); 
        else return fillN(Math.floor(i/10));})
    .attr("text-anchor", "middle")

    .attr("transform", function(d) {
      return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
    })
    .attr("xlink:href", function(d) { return "../data/tweets"; })
    .on('mouseover', function(d){d3.select(this).style('opacity',0.5) /* d3.rgb(d3.select(this)).darker(0.5) */})
    .on('mouseout', function(d){d3.select(this).style('opacity',1.0)})  
    .on('click', function (d) {   
        window.location.assign("../tweets?text="+d.text+"&start="+start+"&end="+end);
    })
    .text(function(d) { return d.text; })
    .style('cursor', 'pointer')
    ;
}
</script>