/* ~~~~~~~~~~ main ~~~~~~~~~~~ */

#main{
    position:relative;
    margin:0px;
    padding:0px;
	min-height:100%;
	width:100%;
	top:0;
	bottom:0;	
}

/* ~~~~~~~~~ header ~~~~~~~~~~ */

header{    
    height:35px;
    padding:5px 10px 0px 10px;
    z-index: 1;
    top:0;
}

/* ~~~~~~~~~ footer ~~~~~~~~~~ */

footer{
    
}

/* ~~~~~~~~~ layout ~~~~~~~~~~ */

#container{
    width:760px;
    min-height:100%;
    margin:0px auto 0px auto;
    padding:20px;
    padding-bottom: 80px;
    z-index: 1;    
}
